---
import JSXToObjectConverter from "@/components/JSXToObjectConverter";
import "@/styles/global.css";
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>JSX → React Object Converter</title>
  </head>
  <body class='bg-white text-black'>
    <JSXToObjectConverter client:load />
  </body>
</html>
